.card-deck-container{
  display: flex;
  flex-flow: row wrap;
  border-radius: 10px;
  /* align-items: center;
  justify-content: center; */
  margin: 5px;
  background-color: #f5f5f5;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,.3);
  /* border-color: #828282;  */
  
}




h2 {
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 2.2;
}

button {
	border: none;
	border-radius: 5px;
	padding: .5rem 1rem;
	background-color: dodgerblue;
	color: white;
	margin: 1rem 0;
	font-size: 1rem;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 1rem;
}

input {
	appearance: none;
	z-index: 500;
	margin-right: 1rem;
	width: 1rem;
	height: 1rem;
	background: dodgerblue;
	border-radius: 50%;
	cursor: pointer;
}

input:last-of-type {
	margin: 0;
}

input:focus {
	outline: none;
}

input:checked {
	background: hotpink;
}

input + * {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	border-radius: 5px;
	overflow: hidden;
	background: rgb(255, 255, 255);
}

input + *[aria-label]:before {
	content: attr(aria-label);
	display: block;
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	font-size: 1.5rem;
	color: white;
	z-index: 1;
	padding: .5rem;
	background-color: rgba(0,0,0,0.5);
}

section {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input:checked + * {
	transform: translateX(0);
	z-index: 1;
}

/* 
	just to be safe we hide every element that comes after
	each slide and that's not an input of type radio
*/
input + * + *:not(input[type=radio]) {
	display: none;
}

/* ARROWS */

input:before {
	display: none !important;
	content: '';
	position: absolute;
	top: 50%;
	left: 1rem;
	width: 2rem;
	height: 2rem;
	background: orange;
	border-radius: 50%;
}

input:after {
	display: none !important;
	content: '';
	position: absolute;
	top: calc(50% + 1rem);
	left: 2rem;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid #262626;
	border-left: 1px solid #262626;
	transform: translate(-25%, -50%) rotate(45deg);
}

input:checked:before, input:checked:after {
	display: none;
}

input:checked + * + input:before {
	left: calc(100% - 3rem);
}

input:checked + * + input:after {
	left: calc(100% - 2rem);
	transform: translate(-75%, -50%) rotate(-135deg);
}

input:checked + * + input + * ~ input:before,
input:checked + * + input + * ~ input:after{
	display: none;
}

input:last-of-type:before {
	background: green;
}

.r{
  /* height: 100vh; */
  display: flex;}


.slide {
  /* position: relative; */
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  /* margin-top: 26px; */
  /* float: left; */
  
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 400px + 3em);
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}

.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}

.slide-item img {
  object-fit: fill;
  /* object-fit: contain; */
}

.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}

.slide-control.prev {
  left: 2%;
}

.slide-control.next {
  right: 2%;
}

.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}

.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}

.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}

.slide-circulo:hover {
  color: #aaaaaa;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo {
  color: #428bca;
}

#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.detalle{
  margin: 10px;
  
}

.footer{
  display: flex;
}