<p-toast></p-toast>
<p-toast position="bottom-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                <!-- <h4>Debes iniciar Sesion</h4> -->
                <p>¿Deseas iniciar sesion?</p>
            </div>
            <div class="p-grid p-fluid">
                <div class="p-col-6">
                    <button type="button" pButton (click)="onConfirm()" label="Si" class="p-button-success"></button>
                </div>
                <div class="p-col-6">
                    <button type="button" pButton (click)="onReject()" label="Cancelar" class="p-button-secondary"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>

<div class="card-deck-container">
    <div class="w-6 r">
        
        
        <!-- <p-galleria [value]="images">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.foto" [alt]="item.alt" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center ">
                    <img [src]="item.foto" class="lg:col-8  "/>
                </div>
            </ng-template>
        </p-galleria> -->

        <div class="wrapper">
            <input type="radio" name="image-slide" checked="checked">
            <picture aria-label="Random Picture 1">
                <img src="https://picsum.photos/500/300?random=1" style="width: 100%;" alt="Random Picture 1">
            </picture>
            
            <input type="radio" name="image-slide">
            <picture aria-label="Random Picture 2">
                <img src="https://picsum.photos/500/300?random=2" alt="">
            </picture>
        
            <input type="radio" name="image-slide">
            <picture aria-label="Link image">
                <a href="https://picsum.photos/500/300?random=3" target="_blank">
                    <img src="https://picsum.photos/500/300?random=3" alt="">
                </a>
            </picture>
            
            <input type="radio" name="image-slide">
            <picture>
                <img src="https://picsum.photos/500/300?random=4" alt="">
            </picture>
            
            <input type="radio" name="image-slide">
            <section>
                <h2>
                    This is not an image!
                </h2>
                <p>You could also just use a container with some text in it</p>
                <button>Call to action, bitch!</button>
            </section>
        </div>
    
    </div>
    <div class="detalle w-5">
        <div class="flex">
            <div class="font-bold text-5xl px-5 py-3">{{item.nombre}}</div>
          </div>
          <div class="flex">
            <div class="font-bold  px-5 py-3">{{item.descripcion}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi asperiores ea nesciunt, laborum optio nobis ratione minus voluptas voluptatem! Quod nostrum enim temporibus totam. Laudantium perferendis unde maxime harum. Cumque! </div>
          </div>
          <div class="flex">
              <div class="font-bold  px-5 py-1">
            <p>Talla</p>
            <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" [(ngModel)]="talla">
                <mat-button-toggle  *ngFor="let i of tallas" [value]="i.talla">{{i.talla}}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
          </div>
          <div class="flex">
            <div class="font-bold  px-5 py-2">
                <p>Color</p>
          <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" [(ngModel)]="color">
              <mat-button-toggle *ngFor="let i of colores" [value]="i.color">{{i.color}}</mat-button-toggle>
            </mat-button-toggle-group>
            </div>
          </div>
          <div class="flex py-3">
            <div class="font-bold text-2xl pr-2 pl-5  mt-auto mb-auto">COP {{item.precio | currency}} </div>
            <div class="font-bold "><p-button label="Agregar al carrito" icon="pi pi-shopping-cart" (click)="sumarCarrito()"></p-button> </div>
          </div>
        
    </div>
</div>