<p-toast></p-toast>
<div class="card-deck-container">
    <h5>Tu nombre</h5>
    <input type="text" pInputText  [(ngModel)]="nombre"/>

    <h5>Pais - Ciudad</h5>
<p-cascadeSelect [(ngModel)]="ciudad" [options]="countries" optionLabel="cname" optionGroupLabel="name" 
    [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}" placeholder="Selecionar Ciudad">
    <ng-template pTemplate="option" let-option>
        <div class="country-item">
            <img *ngIf="option.states" src="../../../assets/showcase/images/demo/flag/flag_placeholder.png" class="flag flag-AU"/>
            <i class="pi pi-compass p-mr-2" *ngIf="option.cities"></i>
            <i class="pi pi-map-marker p-mr-2" *ngIf="option.cname"></i>
            <span>{{option.cname || option.name}}</span>
        </div>
    </ng-template>
</p-cascadeSelect>

<h5>Barrio</h5>
<input type="text" pInputText [(ngModel)]="barrio"/>

<h5>Direccion</h5>
<input type="text" pInputText [(ngModel)]="direccion"/>

<h5>Telefono</h5>
<input type="text" pInputText [(ngModel)]="telefono"/>


<p-button label="Guardar cambios" (click)="postDataPerson()"></p-button>
</div>