table {
    width: 100%;
    text-align: center;
  }
  
  .example-first-header-row th {
    text-align: center;
    border-bottom: none;
  }
  
  .example-second-header-row th {
    text-align: center;
    border-bottom: none;
  }
  .example-second-header-row {
    text-align: center;
    font-style: italic;
  }
  
  .example-first-footer-row {
    text-align: center;
    font-weight: bold;
  }
  
  .example-second-footer-row td {
    text-align: center;
    font-style: italic;
  }

.cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.todo{
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}